* {
    box-sizing: border-box;
}

#main{
    border: 15px solid #09377d;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: content-box;
    border-radius: 20px;
    background-color: #1a1a1a;
    padding: 5px;
}

#leftButtons {

    display: flex;
    flex-wrap: wrap;
    height: 740px;
    width: 450px;
    gap: 8px
}

.nButton {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 50px;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Poppins';
}
.nButton:hover {
    background-color: #4e5265;
}
.nButton:active {
    transform: scale(0.97);
}

.calcbutton {
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 50px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #f5a623;
    color: #ffffff;
}
.calcbutton:hover {
     background-color: #ffb347;
}
.calcbutton:active {
     background-color: #e8960c;
}
#display-box {
    width: 600px;
    height: 200px;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    flex-direction: column;
    overflow: hidden;
}
#number-box {
    text-align: right;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
}
#operator-box {
    width: 30%;
    height:40%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    background-color: rgb(38, 33, 33);
    margin-right: 15px;
    border-radius: 10px;
}


#rightButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 740px;
    width: 150px;
    gap: 8px;
    margin-top: 5px;
    margin-right: 5px;

    justify-content: center;
    align-items: center;
}

.operatorButton {
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 50px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #114189;
    color: #ffffff;
}
.operatorButton:hover {
   background-color: #1a54a8;
}
.operatorButton:active {
    transform: scale(0.97);;
}
#button-container {
    display: flex;

}

#decimal {
    font-size: 100px;
    background-color: #9e9e9e;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 50px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #114189;
    color: #ffffff;
}
#decimal:hover {
    background-color:#1a54a8;
}
#decimal:active {
   transform: scale(0.97);  
}
#leftButtons {
    margin-top: 6px;
}

body {
    background-color: #1e1e2e;
}

#reset {
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 50px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #114189;
    color: #ffffff;
}
#reset:hover {
    background-color: #1a54a8;
}
#reset:active {
      transform: scale(0.97);
}

#divideBtn {
    font-size: 80px;
}

#btn0 {
    width: 400px;
    border-radius: 53px;
    margin-left: 10px;
    font-size: 100px;
    text-align: left;
    color: rgb(206, 195, 195);
}


#addBtn {
    font-size: 80px;
}

#calcBtn {
    font-size: 80px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #114189;
    color: #ffffff;
}
#calcBtn:hover {
    background-color: #1a54a8;
}
#calcBtn:active {
    transform: scale(0.97);
}
#subtractBtn {
    font-size: 100px;
}

#erase {
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 50px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #114189;
    color: #ffffff;
}
#erase:hover {
    background-color: #1a54a8;
}

#erase:active {
       transform: scale(0.97);
}

.curr-display {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 100px;
}
.operator-display {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 100px;
}